{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Shopping List {% endblock %}


{% block body %}

    {% if user %}
        <div class="form col-lg-6 offset-lg-3 mt-2 col-md-12" id="inputBar">
            <form id="form" action="/" method="POST">
                <input type="text" name="name" class="name" id="name" placeholder="Item Name" autofocus="">
                <input type="number" name="qty" min="1" class="qty" id="qty" placeholder="Item Quantity">
                <input type="submit" class="subm" id="subm" value="Add">
            </form>
        </div>

        <div>
            <div>
                <p></p>
            </div>
        </div>


        <div class="container">
            <div class="row justify-content-center">
                <div class="col md 12">
                    {% with messages = get_flashed_messages() %}

                        {% if messages %}

                            {% for message in messages %}

                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    {{ message }}
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>


                            {% endfor %}

                        {% endif %}
                    {% endwith %}

                    {% if items|length > 0  %}
                        <table class="table table-hover table-dark">
                            <tr>
                                <th>Item name</th>
                                <th>Item quantity</th>
                                <th></th>
                            </tr>


                                {% for item in items %}
                                    <tr>
                                        <td>{{ item['item_name'] }}</td>
                                        <td>{{ item['item_qty'] }}</td>

                                        <td>
                                            <a href="/delete/{{ item.id }}" class="btn btn-danger btn-xs"
                                               onclick="return confirm('Are you sure you want to delete ?')">Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                             </table>
                            <a href="/delete_all/" class="btn btn-danger btn-xs"
                                               onclick="return confirm('Are you sure you want to delete ALL ITEMS ?')">Delete all Items</a>
                    {% else %}
                        <p align="center">There is nothing to buy for now.</p>
                    {% endif %}

                </div>
            </div>
        </div>
        </div>

    {% else %}
        <p align="center">Please Sign in!</p>
    {% endif %}
    <div id="firebaseui-auth-container"></div>
    <div id="login-info">
        {% if user %}
            <img class="avatar" src="{{ user['picture'] }}">
            <span>
            Signed in as {{ user['name'] }}
            <br>
        {% elif error_message %}
            Error: {{ error_message }}
        {% endif %}
        <a href="/logout" id="sign-out" class="btn btn btn-info btn-xs">Sign Out</a>
        </span>
    </div>

{% include 'footer.html' %}

{% endblock %}